<!DOCTYPE html>
<html lang="hu">
<head>
    <title>HBS Doc</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/images/icon-weather-sunrainheavy-512.png" />
    <link rel="icon" href="/images/icon-weather-sunrainheavy-512.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
        <img src="images/Szy_IMG_8378kc.jpg" alt="Me">
    </div>
    {{>footer}}
</body>
</html>