<!DOCTYPE html>
<html lang="hu">
<head>
    <title>HBS Doc</title>
    <link rel="icon" href="/images/icon-weather-sunrainheavy-512.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>{{helpMessage}}</h3>
    </div>
    {{>footer}}
</body>
</html>